@import "./variables.css";

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

.company-card {
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: transform var(--transition-speed),
        box-shadow var(--transition-speed);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    background-color: var(--card-background);
    padding: 1rem;
    position: relative;
}

.company-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 16px var(--shadow-color);
}

.company-name {
    color: var(--secondary-color);
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.company-website,
.company-email {
    font-size: var(--font-size-sm);
    color: var(--primary-color);
}

.company-card button {
    position: absolute;
    top: 10px;
    right: 10px;
}
